header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10vw;
    height: 15vh;
    background-color: rgba(245, 119, 8, 0.764);
    margin-bottom: 15px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 3vw;
    font-family: 'Roboto Mono', monospace;
}

.digimon {
    width: 7vw;
}

body {
    background-color: rgb(248, 208, 159);
}

img {
    width: 13vw;
}

select {
    height: 3.5vh;
    background-color: white;
    border-style: solid;
    border-width: 1px;

}

label {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.botoes {
    cursor: pointer;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: lightslategray;
    height: 3.5vh;
    font-size: 17px;
}

.botoes:hover {
    color: aqua;
    transition: 0.3s;
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 23vh;
    width: 36vw;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(95, 158, 241, 0.607);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    font-family: 'Roboto', sans-serif;
}

#resultado {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 41vw;
    height: 50vh;
    padding: 10px;
}

.imagemDigimon {
    height: 40vh;
    width: 35vw;
}

.nomeElevel {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.palavraOU {
    margin-left: 5px;
    margin-top: 7px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}